.panda-card{
    border:5px solid red;
}

.panda-card-footer{
    background-color: chartreuse;
}

.categories img{
    width:100px;
}

.panda-slide .carousel-item{
    background-color:#fceae8;
    border-radius: 1em;
}